.audio-list {
  -webkit-overflow-scrolling: touch;
  padding-bottom: 80px;
  > div {
    margin-top: 60px;
    position: relative;
  }

  &--offset {
    margin-top: 80px;
  }

  &__item {
    padding: 15px;
    border-bottom: 1px #eee solid;

    &.active {
      background: #dde9ff;
    }

    > h6 {
      padding-left: 80px;
    }

    .btn {
      margin-left: 10px;
    }
  }
}


