.dropzone {
  background: lighten(theme-color('primary'), 45%);
  border: 1px #9a9a9a dashed;
  border-radius: 4px;
  color: #878787;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  overflow: hidden;
  padding: 44px 10px;
  text-align: center;
  transition: background-color .2s, border-color .2s;

  > .dropover {
    pointer-events: none;
  }

  &.over {
    background: #fff;
  }

  &.processing {
    background: #fff;

    .processing {
      display: block;
    }
  }

  &.success {
    background: #fff;

    .success {
      color: theme-color('success');
      display: block;

      a {
        color: darken(theme-color('success'), 10%);

        &:hover {
          color: darken(theme-color('success'), 20%);
        }
      }
    }
  }

  &.error {
    background: #fff;

    .error {
      color: theme-color('danger');
      display: block;

      a {
        color: darken(theme-color('danger'), 10%);

        &:hover {
          color: darken(theme-color('danger'), 20%);
        }
      }
    }
  }

  a {
    text-decoration: underline;
  }

  .progress {
    height: 22px;

    &-bar {
      width: 100%;
    }
  }
}